body {
    width: 100%;
    height: 100%;
}

.toolbar {
    grid: auto / auto auto auto auto auto;
}

.toolbar,
.page,
#flashcards-page,
#flashcards,
#flashcards-data {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
}

#flashcard-data {
    grid: auto / 1fr 1fr 1fr 1fr 1fr;
}

#editor-page {
    grid: auto 1fr / 1fr;
}

#flashcards-page {
    grid: auto 1fr auto auto / 1fr;
}

editor-note, flashcard-note {
    height: 100%;
    background-color: transparent;
    border: none;
    grid-gap: var(--base-unit);
    padding: 0;
    display: grid;
    grid: auto / 1fr 5fr 5fr;
}

flashcard-note * {
    width: 100%;
    height: 100%;
}

flashcard-note p {
    white-space: pre;
}

#database {
    height: 100%;
}

input {
    background-color: var(--element);
}

.value {
    font-weight: 400;
}

dialog {
    background-color: transparent;
    border: none;
    margin: auto;
    grid: auto / auto auto;
}

dialog::backdrop {
    backdrop-filter: blur(calc(var(--base-unit)));
}

#flashcards {
    grid: auto / auto 1fr auto;
    height: 100%;
    align-content: stretch;
}

#flashcards-display {
    align-content: stretch;
}

#flashcards * {
    height: 100%;
}

#flashcards-data {
    grid: auto / 1fr 1fr 1fr 1fr 1fr;
    display: none;
}

textarea {
    white-space: pre;
}

h1 {
    font-size: 2rem;
}