body {
    height: 100%;
}

.toolbar {
    grid: auto / auto auto auto auto;
}

.toolbar,
#flashcards-toolbar,
.page,
#flashcards-page,
#flashcards,
#learn-confirm {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
}

#learn-confirm {
    grid: auto / 1fr 1fr 1fr 1fr;
}

#flashcards-toolbar {
    grid: auto / auto auto auto;
}

#editor-page {
    grid: auto auto 1fr / 1fr;
}

#flashcards-page {
    grid: auto auto 1fr auto / 1fr;
}

editor-note {
    height: 100%;
    background-color: transparent;
    border: none;
    grid-gap: var(--base-unit);
    padding: 0;
    display: grid;
    grid: auto / 1fr 5fr 5fr;
}

#database-wrapper {
    height: 100%;
}

input {
    background-color: var(--element);
}

.value {
    font-weight: 400;
}

dialog {
    background-color: transparent;
    border: none;
    margin: auto;
    grid: auto / auto auto;
}

dialog::backdrop {
    backdrop-filter: blur(calc(var(--base-unit)));
}

#flashcards {
    grid: auto / auto 1fr auto;
    height: 100%;
    align-content: stretch;
}

#flashcards-display {
    align-content: stretch;
}

#flashcards * {
    height: 100%;
}

#learn-confirm {
    display: none;
}